.header-panel {
    background-color: #530f1e;
    margin: 0px;
    padding: 25px;
    width: 100%;
    border: solid 1px #f8bc04;
}

.header-solar-system {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f8bc04;
    font-size: 24px;
    font-style: bold;
}

.planets-panel {
    margin: 0px 0px;
    padding: 0px;
    float: left;
    margin: 0px 100% 0px 0px;
}
.planets-panel a {
    position: top left;
    width: 200px;
    line-height: 30px;
    margin: 0px;
}

.planet {
    padding: 10px;
    text-align: center;
    margin: 0px;
    display: block;
    color:#a44322;
    background-color:#051427;
    border: dotted 1px #f8bc04;
    text-decoration: none;
}

/* planet css id tags specific to planet.css */
#earth {
    padding: 10px;
    text-align: center;
    margin: 0px;
    display: block;
    color:#f8bc04;
    background-color:#000;
    border: dotted 1px #f8bc04;
    text-decoration: none;
}

/* planet css id tags specific to planet.css */
#earth {
    cursor: pointer;
    color: #f8bc04;
}
.planet:hover {
    cursor: pointer;
    color: #000;
    transition: .4s ease-in-out;
}

.planet-image {
    background-image: url('/Users/thomascaneday/Desktop/VisualStudioCode Projects/SolarSystem Website/resources/images/earth.jpeg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

